<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Products</title>
</head>
<body class="edit-product">
    <%- include('navbar'); -%>

    <div class="container">
      <div class="row">
        <div class="col-12 section-title">
          <h1>Products on sale</h1>
        </div>
      </div>
      <div class="row">
          <!-- results.forEach define la funcion product, que define con el mismo nombre todos los métodos invocados para results (todos los productos)-->
        <% results.forEach (function (product){ %>
          <div class="card col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
              <a href="#">
                <div class="card-body">
                  <h5 class="card-title"><img src="/productsImages/<%= product.image %>" href="/" class="card-img-top" alt="..."></h5>
                  <h5 class="card-title"><%= product.name %> <%= product.surname %></h5>
                  <p class="card-text"><%= product.description %></p>
                  <div class="button-group">
                    <a href="/products/editProduct/<%= product.id_product %>" class="btn btn-transparent2">Edit</a>
                    <a href="/products/deleteProduct/<%= product.id_product %>" class="btn btn-transparent3">Delete</a>
                  </div>
                  <!-- Redirige al perfil del vendedor del producto-->
                  <a href="/profile/<%= product.id_seller %>">More from this seller</a>
                </div>
              </a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    
    <%- include('footer'); -%>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
</body>
</html>